body{
    background-image:url(https://www.shutterstock.com/image-vector/rubidium-atomic-structure-has-number-600w-1915837372.jpg) ;
background-position: top left;
background-repeat: no-repeat;
background-size: 200px;
background-color: #c4ad6c;
}
#title{
    text-align: center;
    font-size: 40px;
    text-decoration: overline underline;
    color:#650b6b;
}
.intro{
    border: solid 0px green;
    margin-left: 250px;
    font-size: 20px;
}
.prop{
    color:#1a5755;
}
.list{
    text-align:center;
}
ol{
    font-size: 18px;
}
.page{
        text-align: center;
        color:#77450f;
        font-size: 18px;
}
